altgraph==0.17.3
beautifulsoup4==4.12.2
certifi==2023.5.7
charset-normalizer==3.1.0
defusedxml==0.7.1
fonttools==4.39.4
fpdf2==2.7.4
idna==3.4
pefile==2023.2.7
Pillow==9.5.0
pyinstaller==5.10.1
pyinstaller-hooks-contrib==2023.2
pywin32-ctypes==0.2.0
requests==2.30.0
soupsieve==2.4.1
urllib3==2.0.2
